* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background: #002A53;
    color: white;
    padding: 20px;
}

.intro {
    margin: 8px;
    text-align: center;
    line-height: 1.6;
}

hr {
    height: 6px;
    width: 90%;
    margin: 0 auto;
    background-color: #002A53;
}
main {
     margin: 8px;
 }

legend, h2 {
     font-size: 1.5em;
     font-weight: 700;
     margin: 20px auto;
 }

 .input-box,
#other_topics,
.container {
     display: flex;
     flex-direction: column;
 }

#name, 
#email,
#tel,
#address1,
#address2,
#state,
#zip,
#other_topics {
    padding: 20px;
    background: #dcdcdc;
    border: none;
    border-radius: 5px;
}

.cihover:hover {
    border: 1px solid blue;
}

#zip {
    width: 50%;
}

label {
    margin-bottom: 10px;
}

input::placeholder {
    font-style: italic;
    padding-left: calc(100% - 60px)
}

.newsletterbuttons {
    line-height: 1.6;
}

#html_news,
#css_news,
#javascript_news,
#html,
#plain_text {
    margin-right: 5px;
    margin-bottom: 10px;
}

.newsletter {
    padding: 8px;
}

#p1 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0; 
}

#other_topics {
    padding: 70px;
}

button {
    padding: 30px;
    border-radius: 5px;
    background: #00CED1;
    color: white;
    font-size: 1.6rem;
    border-style: none;
    margin-top: 20px;
}

#footer {
    text-align: center;
    font-style: italic;
    margin: 20px 0 40px 0;
}

select {
    margin-bottom: 20px;
}